/**
* Toolkit styles
*/

/***************************************************************
 * Variables *
 ***************************************************************/

/* primary */
$Brand: #1CA08A;
$Primary: #4A90E2;
$Success: #45CB5C;
$Warning: #FFD644;
$Danger: #FF5E44;
/* gray scale */
$Dark: #696969;
$Medium: #AAAAAA;
$Light: #EEEEEE;
$White: #FFFFFF;

$border-radius: 1px;
$border-width: 1px;
$border-style: solid;
$border-color: #DFDFDF;

$input-border-color: $border-color;
$ipnut-height: 48px;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 22px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;



/***************************************************************
 * Mixins *
 ***************************************************************/

@mixin input-placeholder($font-weight, $font-size, $font-color, $align, $background) {
    &::-webkit-input-placeholder {
        font-weight: $font-weight;
        font-size: $font-size;
        color: $font-color;
        text-align: $align;
        background: $background;
    }
    &::-moz-placeholder {
        font-weight: $font-weight;
        font-size: $font-size;
        color: $font-color;
        text-align: $align;
        background: $background;
    }
}

@mixin appearance($appearance) {
    -webkit-appearance: $appearance;
    -moz-appearance: $appearance;
}



/***************************************************************
 * General *
 ***************************************************************/

body {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    &.title {
        text-align: center;
    }
}

h1 {
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.font-size {
    font-size: $font-size-medium;

    &.small {
        font-size: $font-size-small;
    }
    &.large {
        font-size: $font-size-large;
    }
}

.font-weight {
    font-weight: $font-weight-regular;

    &.light {
        font-weight: $font-weight-light;
    }
    &.semi-bold {
        font-weight: $font-weight-semibold;
    }
    &.bold {
        font-weight: $font-weight-bold;
    }
}

p {
    @extend .font-size;
    @extend .font-weight;
}

span {
    @extend .font-weight;
}


/***************************************************************
 * Navigation *
 ***************************************************************/
.vend-nav {
    height: 60px;
    width: 100%;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;

    div {
        display: inline-block;
    }

    .left {
        padding: 15px 15px;
        line-height: 30px;
    }

    .center {
        margin-left: 25%;
        padding: 15px 15px;
        line-height: 30px;
    }

    a, span {
        padding-right: 15px;
        &:hover {
            text-decoration: none;
        }
    }
}


/***************************************************************
 * Navbar *
 ***************************************************************/

nav {
    @extend .vend-nav;

    background-color: $White;

    a {
        color: $Dark;
        &:hover {
            color: $Brand;
        }
    }
}

/***************************************************************
 * Subnav *
 ***************************************************************/

.subnav {
    @extend .vend-nav;

    background-color: $Brand;

    span {
        color: $White;
    }
}



/***************************************************************
 * Sidenav *
 ***************************************************************/

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-right: 1px solid #eee;

    li {
        a {
            color: $Dark;
            &:hover {
                background-color: $White;
                color: $Primary;
            }
        }
    }
 }


 /***************************************************************
 * Panels *
 ***************************************************************/

.vend-panel {
    border-style: solid;
    border-color: $border-color;
    border-width: $border-width;
    border-radius: $border-radius;

    .header {
        padding: 15px;
        border-bottom-style: solid;
        border-bottom-color: $border-color;
        border-bottom-width: $border-width;
        border-bottom-radius: $border-radius;
    }

    .body {
        padding: 15px;
    }
}


/***************************************************************
 * Buttons *
 ***************************************************************/

.button {
    background-color: transparent;
    border: none;
    padding: 5px 20px 5px 20px;
    height: $ipnut-height;
    cursor: pointer;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
    color: $White;

    // img {
    //     margin-right: 10px;
    //     vertical-align: sub;
    // }

    // svg {
    //     margin-right: 10px;
    //     vertical-align: sub;
    //     .logo {
    //         fill: $Warning;
    //     }
    // }

    // &.selected {
    //     background-color: $Primary;
    //     color: $White;
    //     .logo {
    //         fill: $White;
    //     }
    // }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.55;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0 $border-color;
    }
}


button {
    @extend .button;

    &.vend-primary {
        background-color: $Primary;
    }

    &.vend-secondary {
        background-color: $Medium;
    }

    &.vend-outline {
        border-radius: $border-radius;
        border-color: $border-color;
        border-width: $border-width;
        border-style: $border-style;
        color: black;
    }

    &.link {
        color: $Primary;
        border: none;
        background-color: inherit;
    }
}

.btn-group {
    .btn {
        @extend .button;

        &.nav {
            padding: 0 40px 0 40px;
        }
    }
}



/***************************************************************
 * Inputs *
 ***************************************************************/

input {
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $border-style;
    border-color: $input-border-color;
    height: $ipnut-height;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    padding-left: 10px;
    color: $Dark;

    @include input-placeholder($font-weight-semibold, $font-size-medium, $Light, center, none)

    /* TODO: make mixin */
    &.danger {
        border-color: $Danger;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 $border-width $Danger;
        }
    }

    &.success {
        border-color: $Success;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 $border-width $Success;
        }
    }
    // .disabled {}

    &.search {
        background-color: $Light;
        border: none;
        width: 400px;

        $image: url('../images/search.svg') no-repeat 38% center;
        @include input-placeholder($font-weight-semibold, $font-size-medium, $Light, center, $image);

        &:focus {
            /* TODO: make transition mixin */
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;

            outline: none;
            box-shadow: 0 0 0 $border-width $input-border-color;
            background-color: $White;

            @include input-placeholder(0, 0, $White, center, none);
        }
    }
}

/* TODO: clean up search sass */
.search {
    width: 400px;
    input {
        outline: none;
        height: $ipnut-height;
        background-color: $White;
        border-left: none;
        border-color: $input-border-color;
        box-shadow: none;
    }
    input:focus {
        outline: none;
        border-color: $input-border-color;
        box-shadow: none;
    }

    .left {
        border-right: none;
        border-color: $input-border-color;
        background-color: $White;
        span {
            color: $Light;
        }
    }
    .right {
        button {
            background-color: $Primary;
            border: none;
            span {
                color: $White;
            }
        }
    }
}