---
notes: |
  Style changes on focus.
  Use javascript to switch the two.

  The logo must be an `svg` for stylings to apply. The `svg` tag must have `<path class="logo" ` to be styled correctly.
---

<div class="row">
	<div class="col-md-6">
		<div class="search-focus">
			<div class="input-group">
				<span class="input-group-addon left">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</span>
				<input class="form-control" type="text" id="search" />
				<span class="input-group-btn right">
			        <button class="btn btn-default" type="button">
			        	<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
			        </button>
			    </span>
			</div>
		</div>
	</div>
</div>